.imglogin {
  width: 100%;
  max-width: 900px;
  height: auto;

  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
