body {
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  justify-content: center;
}

/* BEGIN Bold */
@font-face {
	font-family: 'IranianSansBold';
	src: url('./components/IRANSans4/IRANSans_Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* END Bold */
/* BEGIN Regular */
@font-face {
	font-family: 'IranianSans';
	src: url('./components/IRANSans4/IRANSans_Medium.ttf') format('truetype'),
		 url('./components/IRANSans4/WebFonts/fonts/eot/IRANSansWeb_Medium.eot') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* END Regular */

* {
    font-family:  IranianSans !important
}
